body {
    background-color: cornflowerblue;
}

h1 {
    font-family: montserrat, 'Brush Script MT';
}

p {
    font-family: montserrat, 'Brush Script MT';
}

button {
    background-color: teal;
    box-shadow: 5px 5px;
}

button:hover {
    color: white;
}